*.class
*.jar

# =========================
# Operating System Files
# =========================

# OSX
# =========================
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
# =========================
Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk

# =========================
# Editor Files
# =========================

# Eclipse
# =========================
.project
.classpath
.settings/
target/

# IntelliJ IDEA
# =========================
/.idea/
*.iml